/* header */

header {
   background: #42526a;
   padding: 24px 0;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__list {
   display: flex;
   align-items: center;
}

.header__list-item + .header__list-item {
   margin-left: 48px;
}

.header__list-link {
   font-size: 18px;
   color: #fff;
}

.header__tel {
   font-size: 18px;
   color: #fff;
}
